<ion-view title="Pick your stops" id="page6" >
  <ion-content  padding="true" class="has-header">
     <div id="pickYourStops-button-bar2" class="button-bar">
      <button id="pickYourStops-button11" class="button button-positive  button-block icon-right ion-map"></button>
      <a ui-sref="menu.list" id="pickYourStops-button12" class="button button-positive  button-block icon-right ion-android-list"></a>
    </div>
    <ion-pane class="map-container">
  		<div id="map"></div>
  	</ion-pane>

  </ion-content>
</ion-view>