<ion-view title="Start" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="start-form3" class="list">
      <label class="item item-input controls" id="start-input5">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input controls" id="start-input6">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="range range-positive" id="start-range1">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
    </form>
    <a ui-sref="menu.pickYourStops" id="start-button3" class="button button-positive  button-block">PLAN</a>
  </ion-content>
</ion-view>