
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } 
      .wrapper {
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;  
        
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
      }
      .wrapper > * {
        padding: 10px;
        flex: 1 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #inputs_div {
        display: flex;
        flex-flow: row wrap; /*direction "row" and yes, please wrap the items.*/
        background-color: #e8e8e9;
        padding: 10px;
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

/*       #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }
 */
      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }



      .control {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 15px 45px;
        line-height: 3;
        appearance: none;
        box-shadow: none;
        border-radius: 0;
        background-color: #48b5e9;
      }

/* info window */      
#iw #iw_header {
  font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   /* background-color: #48b5e9;  */
   color: black;
   background: blue;
   background-color: green;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
.gm-style-iw {
  /*  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6); */
  /*  border: 1px solid rgba(72, 181, 233, 0.6); */
  /*   border-radius: 2px 2px 10px 10px; */ // apply 10px to the bottom corners of the infowindow
}


.switch_view_summary{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: red;

}

.navbar-toggle {
  float: left;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  #map    { flex: 3 0px; }
  #listview { order: 1; } 
  #map    { order: 2; }
  #route_summary { order: 3; }
  #footer  { order: 4; }
}